<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <div class="text-center">
          <p><img src="<%- staticFile('/public/images/big_logo.png') %>" />
          <p></p>
          <p>52jita.net，致力于构建完善的吉他中文社区。</p>
          <p>功能正在完善中，欢迎使用和您的宝贵建议 。</p>
          <p>吉他是可以玩一辈子的健康爱好，希望这里能成为吉他爱好者的家。</p>
          <p>诚邀有激情的活跃吉他爱好者参与维护社区，有意者请到社区反馈版块发帖留言。</p>
        </div>
      </div>
    </div>
  </div>
</div>
