<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>新手入门</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
## 吉他入门


首先, 请准备一把琴, 不需要太好, 选择一些有的名气牌子的入门款即可.

其次, 买一本入门的书, 熟悉吉他的基本知识.

再然后, 网上找一些视频, 边玩边练,
线下也可以认识一点志同道合的朋友, 记住贵在坚持.

最后, 常来本站 `52jita.net` 坐坐, 认识更多朋友, 展示你的成长, 分享你的喜悦.
*/
        })) %>
      </div>
    </div>
  </div>
</div>
